* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#headering{
    /* border-bottom: 3px solid black; */
    box-shadow: rgba(0, 0, 0, 0.34) 0px 3px 8px;
    /* border-radius: 10px; */
    background-color: rgb(205, 223, 220);
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px 0px 20px;
    border-radius: 20px;
    text-align: center;
    height: 50px;
    
}

#H-Manu img {
    width: 25px;
}

#H-Manu button {
    border: none;
    background: none;
    cursor: pointer;
}

#H-img img {
    width: 80px;
}
#H-Search #search{
    background: none;
}

#H-Search img {
    width: 13px;
   
}

#H-Cart img {
    width: 30px;
}

#H-Location button {
    text-decoration: none;
    background: none;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

#H-Search label {
    font-size: 20px;
    font-weight: bold;
}

#H-Search #search {
    border-right: none;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 16px 0 0 16px;
    padding: 5.5px 15px;
    font-weight: bold;
}

#H-Search #searchButton {
    border-left: none;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 0 16px 16px 0;
    padding: 5px 15px;
    background: none;
    cursor: pointer;
}

#H-Language select {
    text-decoration: none;
    background: none;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

#H-Orders button {
    text-decoration: none;
    background: none;
    border: none;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
}

#H-Cart button {
    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer;
}



#H-Manu {
    display: flex;
    align-items: center;
}

#H-Location {
    text-align: center;
}

#H-Search form {
    display: flex;
    justify-content: flex-start;
}

#H-Language {
    margin-right: 10px;
}

#H-Create button{
    padding: 6px 10px;
    background:rgba(63, 25, 25, 0.6);
    color: white;
    border: none;
    border-radius: 16px;
    font-weight: bold;
}
#H-Create button:hover{
    background: rgb(202, 188, 188 , 0.80) ;
    
    border: none;
    color: white;
}
#H-Orders {
    margin-left: 10px;
}


@media screen and (max-width: 690px) {
    #H-Language select {
      display: none;
    }
  
    #H-Search #search {
      border: 2px solid black;
      border-radius: 16px;
      padding: 5px 15px;
      font-weight: bold;
      width: 100%;
    }
  
    #H-Search #searchButton {
      display: none;
    }
   
  } 

  /* mian Section */
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-left:100px;
    padding-right: 30px;
    width: 100%; 
}

#Main-Container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    margin-left: 100px;
      
    width: 100%; 

}

#Main-Container .box {
    /* border: 1px solid black; */
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  
}
#Main-Container .M-Img{
    width: 100%;
}
#Main-Container .M-Img img {
    width: 100%;
    height: 170px; 
    object-fit: cover; 
    border-radius: 10px;
    overflow: hidden;
}

#Main-Container .M-Title {
    display: flex;
    align-items: center;
   font-size: small;
    margin-left: 10px;
    margin-top: 10px; 
}

#Main-Container .M-Title .Img-Title {
    display:flex;
    justify-content: center; 
    align-items: center; 
    border: 0.01px solid;
    border-radius: 50%;
    width: 40px;
    height: 35px; 
    overflow: hidden;
}

#Main-Container .M-Title .Img-Title img {
    object-fit: cover;
    width:80%;
    height: 80%;
}

#Main-Container .M-Title .title {
    font-weight: bold;
    margin-left: 8px;
    overflow: hidden;         
    display: -webkit-box;      
    -webkit-line-clamp: 2;     
    -webkit-box-orient: vertical; 
    text-overflow: ellipsis;   
    width: 100%;    
}

#Main-Container .box .M-Stock {
    display: flex;
    justify-content: end; 
    margin-right: 20px;

}

#Main-Container .box .M-Stock .address{
    margin-right: 10px;
    color: black;
    font-weight: bold;
}
#Main-Container .box .M-Stock .stock{
    color: red;
    font-weight: bold;
}