* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

#L-Main{
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#Login {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    width: 340px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.Login-Heading{
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 600;
    color: #333;
}

#form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.label2 {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 500;
    color: #555;
}

.enter20 {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 14px;
    border: none;
    border-bottom: 2px solid #ddd;
    outline: none;
    transition: border-color 0.3s;
}

.enter:focus {
    border-bottom-color: #007bff;
}

#forgetbtn {
    background: none;
    border: none;
    color: #007bff;
    font-size: 12px;
    text-align: right;
    margin-bottom: 20px;
    cursor: pointer;
}

#forgetbtn:hover {
    text-decoration: underline;
}

#submit {
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: opacity 0.3s;
}

#submit:hover {
    opacity: 0.8;
}

.create{
    display: flex;
    margin-top: 20px;
}
.create button{
    border: none;
    background: none;
    color: #4798ee;
    margin-left: 2px;
    cursor: pointer;
    margin-bottom: 7px;
    font-weight: bold;
}

.create button:hover{
      color: #1065c0;
    text-decoration: underline;
}